mat-card-content {
  display: flex;
  justify-content: space-between;
}

.my-class .mat-dialog-container{
  height: 400px;
  width: 1200px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
}
